* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Gives the body element a parent height to compare against */
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    font-family: sans-serif;
  }
  
  h1, h2, h3 {
    font-size: 100%;
  }
  
  /* Removes default bullet points from lists */
  ol, ul {
    list-style: none;
  }