/* Universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* defined variable for common properties */
:root {
    --dark-theme: rgb(0 0 0 / 34%);
    --light-theme: rgb(191 151 205 / 54%);
    --light-pink: rgb(191 151 205 / 88%);
    --light-border: 3px solid rgb(154, 99, 108);
}
a {
    color: black;
}
/* common properties */
.section-wrapper {
    display: flex;
    padding: 20px;
}
.column-split-wrapper {
    display: flex;
    width: 80%;
    flex-direction: column;
}
.title-container {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    border-right: 3px solid var(--light-theme);
}
.title-text {
    font-size: 26px;
    padding: 10px;
}
/* specific class properties */
.portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-theme);
    height: auto;
    width: 100%;
    padding: 20px 0px;
}

.my-title {
    width: 450px;
    background-color: var(--dark-theme);
    box-shadow: 2px 2px 7px;
}
.my-title-text {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    padding: 5px;
}

.my-list {
    width: 320px;
    margin-right: 40px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.subtitle-cover {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: var(--dark-theme);
    background-image: url('../images/subcover.jpeg');
    background-size: cover;
    background-position: center;
}
.my-avatar-wrapper {
    display: flex;
    align-items: center;
    width: 450px;
    justify-content: center;
    padding: 10px;
}

.my-avatar {
    width: 190px;
    height: 213px;
    box-shadow: 2px 2px 60px;
}
.subtitle-text-wrapper {
    display: flex;
    align-items: flex-end;
    margin-right: 40px;
    padding: 20px;
}
.subtitle-text {
    box-shadow: 4px 4px 10px;
    background-color: var(--light-pink);
    padding: 5px;
}

.work-wrapper {
    position: relative;
}

.work-item {
    display: flex;
    height: 200px;
    border: var(--light-border);
    margin: 5px;
    background-image: url('../images/horiseonscreen.png');
    background-size: cover;
    background-position: center;
    opacity: 50%;
}
.custom-height {
    height: 200px !important;
}
.marvel-item {
    background-image: url('../images/screenshot/marvelscreenshot.png');
}
.luv2h8-item {
    background-image: url('../images/screenshot/luv-2-h8.png');
}
.work-item:hover {
    opacity: 100%;
}
.work-text {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 1px solid;
    background-color: #e1d0d0;
    gap: 5px;
    position: absolute;
    top: 60%;
}
/* used grid to equally split the upcoming work items using frames */
.items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.upcoming-work {
    display: flex;
    padding: 10px;
    border: var(--light-border);
    margin: 5px;
    height: 110px;
    background-image: url('../images/pink.jpeg');
    background-size: cover;
    background-position: center;
}

.contact-nav-wrapper {
    display: flex;
    width: 80%;
}
.contact-nav {
    display: flex;
    width: 100%;
}
.contact-nav-items {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
/* Added media queries for screen size less than 820px */
@media screen and (max-width: 820px) {
    .portfolio-header {
        gap: 10px;
        flex-direction: column;
        padding: 0px;
    }
    .my-title {
        width: 300px;
        margin-top: 15px;
    }
    .my-title-text {
        justify-content: center;
        font-size: 16px;
    }
    .my-list {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .subtitle-cover {
        flex-direction: column;
        align-items: center;
    }
    .my-avatar-wrapper {
        margin-top: 25px;
    }
    .subtitle-text-wrapper {
        margin-right: 0px;
    }
    .subtitle-text {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .section-wrapper {
        flex-direction: column;
    }
    .title-container {
        width: 100%;
        justify-content: center;
        border: 0;
    }
    .center-align {
        align-items: center;
    }
    .column-split-wrapper {
        width: 100%;
    }
    .work-items-wrapper {
        width: 100%;
        justify-content: center;
    }
    .contact-nav-wrapper {
        width: 100%;
    }
    .contact-nav-items {
        flex-direction: column;
        gap: 5px;
    }
}
@media screen and (max-width: 414px) {
    .items-wrapper {
        grid-template-columns: 1fr;
    }

    .custom-height {
        height: 110px !important;
    }
}
/* Added media queries for screen size less than 280px  */
@media screen and (max-width: 280px) {
    .my-title {
        width: 270px;
    }
    .nav-items {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .portfolio-header {
        gap: 10px;
        padding: 0px;
    }
    .subtitle-text {
        font-size: 14px;
    }
    .upcoming-work {
        font-size: 14px;
    }
}
