* {
    color: aliceblue;
}
body {
    background-color: #1e1e1e;
    height: 100vh;
    margin: 0px;
    font-family: 'Scada', sans-serif;
}
img {
    width: inherit;
    border-radius: 50%;
}
header {
    background-color: black;
}

.icon-size {
    font-size: 45px;
}

.nav-text {
    font-size: 16px;
    text-decoration: none;
}
.nav-text:hover {
    cursor: pointer;
}
.text-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}
.icon-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.my-title-text {
    font-family: 'Covered By Your Grace', cursive;
}
.coder-text,
.designer-text {
    font-size: 40px;
    font-family: 'Covered By Your Grace', cursive;
}

.my-image {
    width: 270px;
}
.circle {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    margin: 0px 150px;
}
.body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 80%; */
    margin: 20px 0px;
}
.project-body-wrapper {
    display: flex;
    flex-direction: row;
    height: 80%;
    align-items: center;
    justify-content: center;
}
.project-body-container {
    display: flex;
    margin: 0px 130px;
    gap: 50px;
    z-index: 1000;
}
.title-content-wrapper {
    background-color: black;
    padding: 10px 20px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
}
.content-icon {
    font-size: 70px;
}
.projects-wrapper {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    z-index: 10000;
}
.title {
    margin: 0px;
    text-decoration: underline;
}
.border-wrapper {
    border-width: 10px;
    border-style: inset;
    padding: 30px;
    border-color: #242221;
}
.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}
.about-content-wrapper {
    max-width: 900px;
    font-size: 28px;
}
.carousel-actions {
    font-size: 60px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.button-prev {
    margin-left: 20px;
}
#carousel-button-prev:hover,
#carousel-button-next:hover {
    color: #828587 !important;
    cursor: pointer !important;
}
.carousel-items {
    display: none;
}
.carousel-item-visible {
    display: flex;
    animation: fadeVisibility 0.5s;
}
.project-title {
    cursor: pointer;
}
.project-title:hover {
    color: #828587 !important;
}
.text-content,
.actual-content {
    text-align: center;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 999999999;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}

.modal-content img {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.close-button {
    float: right;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
    padding: 5px;
    margin-bottom: 15px;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 992px) {
    .circle {
        flex-direction: column;
    }
    .about-content-wrapper,
    .description-wrapper {
        margin: 0px 70px;
    }
    .text-nav {
        padding: 0px 20px;
    }
    .icon-size {
        font-size: 35px;
    }
    /* project section */
    .project-body-wrapper {
        height: 100%;
    }
    .project-body-container {
        flex-direction: column-reverse;
        margin: 0px 60px;
        gap: 10px;
        align-items: center;
    }
    .border-wrapper {
        padding: 10px;
    }
    .title {
        text-align: center;
    }
    .projects-wrapper {
        font-size: 20px;
    }
    .project-title {
        margin: 5px;
    }
    .title-content-wrapper {
        padding: 0px 5px;
    }
}
